body {
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.leaf {
    position: absolute;
    z-index: 2;
    width: 100px;
    animation: leafmovement 12s linear infinite;
}

#main-div {
    width: 100vw;
    height: 100vh;
}

#humidity-filter {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: blue;
    opacity: 0.5;
}

@keyframes leafmovement {
    0% {
      transform: translate(-100px, 0) rotate(0);
    }
    20% {
      transform: translate(15vw, 10vh) rotate(85deg);
    }
    65% {
      transform: translate(55vw, 12vh) rotate(550deg);
    }
    80% {
      transform: translate(70vw, 17vh) rotate(740deg);
    }
    100% {
      transform: translate(100vw, 25vh) rotate(920deg);
    }
  }