body {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-space-around{
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}

.leaf {
  position: absolute;
  z-index: 2;
  width: 100px;
  animation: leafmovement 12s linear infinite;
}

.cloud {
  position: absolute;
  width: 300px;
  height: 300px;
  visibility: hidden;
}

.cloud-animation {
  animation: cloudmovement 3s;
}

#title-style {
  font-size: 40px;
  color: #ffde00 ;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
  1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

#wind-direction {
  height: 100px;
  width: 200px;
}

#main-div {
  width: 100vw;
  height: 100vh;
}

#weather-app-container {
    height: 400px;
    width: 30vw;
    margin-top: 10px;
    position: relative;
    border: solid 10px #cc0000;
    background-color: aliceblue;
}

#temperature-slider::-webkit-slider-runnable-track {
  background: linear-gradient(270deg,red, blue);
  width: 120px;
  height: 20px;
}

#temperature-slider::-moz-range-track  {
  background: linear-gradient(270deg,red, blue);
  width: 120px;
  height: 20px;
}

#temperature-slider {
  transform: rotate(270deg);
}

#humidity-filter {
  position: absolute;
  top: 51vh;
  width: 100vw;
  height: 50vh;
  z-index: 3;
  background-color: blue;
  opacity: 0.5;
}

#uv-index-filter {
  position: absolute;
  width: 100vw;
  height: 50vh;
  z-index: 3;
  background-color: red;
  opacity: 0.6;
}

#cloud1 {
 top: 50vh;
 left: 50vw;
}
#cloud2 {
  top: 60vh;
  left: 20vw;
}
#cloud3 {
  top: 0vh;
  left: 0vw;
}
#cloud4 {
  top: 10vh;
  left: 60vw;
}
#cloud5 {
  top: 50vh;
  left: 50vw;
}
#cloud5 {
  top: 50vh;
  left: 10vw;
}
#cloud6 {
  top: 60vh;
  left: 40vw;
}
#cloud7 {
  top: 30vh;
  left: 50vw;
}
#cloud8 {
  top: 20vh;
  left: 10vw;
}
#cloud9 {
  top: 0vh;
  left: 50vw;
}
#cloud10 {
  top: 50vh;
  left: 70vw;
}

@keyframes cloudmovement {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes leafmovement {
  0% {
    transform: translate(-100px, 0) rotate(0);
  }

  20% {
    transform: translate(15vw, 10vh) rotate(85deg);
  }

  65% {
    transform: translate(55vw, 12vh) rotate(550deg);
  }

  80% {
    transform: translate(70vw, 17vh) rotate(740deg);
  }

  100% {
    transform: translate(100vw, 25vh) rotate(920deg);
  }
}